<h3>List of Portfolios</h3>



<% @portfolio.each do |portfolio| %>
<table>
<thead>
<tr>
  <th>Name</th>
  <th>Team</th>
  <th>Last Updated</th>
</tr>
</thead>


<tr>
  <td><%= link_to "#{portfolio.name}" , "portfolios/#{portfolio.id}" %></td>
  <td><%= portfolio.team %></td>
  <td><%= portfolio.updated_at %></td>
</tr>





<% end %>


</table> <!-- END Table -->


<br />
<%= link_to 'Create New Portfolio', new_portfolio_path %>