// Place all the styles related to the find_info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-info
{


}

.portfolio-to-tenant
{


}

.make-space
{
align-self: center;
border: 1px solid black;
  width: 90%;
  margin: 20px;
  padding: 10px;

}


.make-space-title
{
  text-align: center;


}


.notes{
  align-self: center;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  align-content: center;
  background-color: #FFFFFF;

}